body {
  background-color: white;
  width: 300px;
}

#sessions {
  display: flex;
  flex-direction: column;
}

.session {
  display: flex;
  flex-direction: row;
  width: 220px;
  justify-content: flex-start;
  background-color: green;
  overflow: hidden;
}

.tab {
  height: 16px;
  width: 16px;
  padding: 2px;
  flex-shrink: 0;
}

.sessionButton {
  height: 16px;
  width: 16px;
  padding: 2px;
  flex-shrink: 0;
}
