html {
  background-color: white;
}

body {
  width: 270px;
  margin: 0;
}

#icebox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 122px;
  background-color:white;
  filter: drop-shadow(0px -5px 5px rgba(0, 0, 0, 0.35));
}

#icebox {
  height: 91px;
  width: 81px;
  background-image: url('assets/icebox-closed-arrow.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
  transition: .2s;
}

#icebox:hover {
  background-image: url('assets/icebox-open-save.png');
  cursor: pointer;
}

#icebox:active {
  background-image: url('assets/icebox-open-save-onclick.png');
}

#icebox:hover {
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sessions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.session {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
  background-color: white;
}

.session:hover {
  cursor: pointer;
}

.tab {
  height: 16px;
  width: 16px;
  padding: 2px;
  pointer-events: none;
}

#clear-sessions {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: #666666;
  background-color: white;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.35));
}

#clear-sessions:hover {
  cursor: pointer;
}

#empty-sessions {
  padding-left: 24px;
  padding-right: 24px;
  color: #808080;
  font-size: 9pt;
  text-align: center;
}
