@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  background-color: white;
}

body {
  width: 270px;
  margin: 0;
}

#icebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: white;
  filter: drop-shadow(0px -5px 5px rgba(0, 0, 0, 0.25));
}

#icebox h1 {
  margin-left: 12px;
  display: inline;
  font-size: 1.2em;
  color: #505050;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

#icebox p {
  margin-right: 12px;
  display: inline;
  font-size: 1.2em;
  color: #505050;
  font-weight: normal;
}

#save-button:hover {
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sessions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.session {
  display: flex;
  flex-direction: row;
  width: calc(100% - 10px);
  height: 48px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 5px;
}

.session:hover {
  cursor: pointer;
}

.tab {
  height: 16px;
  width: 16px;
  padding: 2px;
  pointer-events: none;
}

#clear-sessions {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: #505050;
  background-color: white;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

#clear-sessions:hover {
  cursor: pointer;
}

#empty-sessions {
  padding-left: 24px;
  padding-right: 24px;
  color: #505050;
  font-size: 9pt;
  text-align: center;
}
